html {
    font-size: 50px;
    font-family: "BIZ UDMincho", sans-serif;
}
html {
    background-color: rgb(6, 0, 10);
}

body {
    width: 720px;
    margin: 10 auto;
    padding: 10 20px 20px 20px;
}

h1 {
    color: rgb(167, 95, 205);
    font-size: 75px;
    text-align: center;
}

h3 {
    color: rgb(167, 95, 205);
    font-size: 20px;
    text-align: center;
}
